.text-check-susc {
  font-size: 14px;
}
.text-price {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
}
.wa {
  display: inline-block;
}
.text-form{
    font-size: 12px;
}