
@media( max-width: 991px){
    /* NAVBAR */
    .botones-navbar{
        width: 130px;
        margin-bottom: 5px;
    }
    .li-navbar-responsive{
        visibility: hidden;
        position: absolute;
    }
}

@media(min-width:992px){
    /* NAVBAR */
    .align-navbar{
        justify-content: space-between;
    }
    .li-navbar-lg{
        visibility: hidden;
        position: absolute;
    }
    
}

@media(max-width:575px){
    .footer-row1{
        text-align: center;
    }
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-wrap {
    flex: 1;
  }
  