.cardDeck{
    justify-content:  center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tarjetaNoticia{
    margin: 15px;
    width: 100%;
    box-shadow: 5px 10px 5px rgb(117, 113, 113); ;
  }

  .tarjetaNoticia:hover{
    color: black;
    cursor: pointer;
    position: relative;
      bottom: 2px;
      right: 2px;
      transition: 100ms;
  }
  .botones-hover:hover{
    color: rgb(185, 186, 186);
    
  }

@media (max-width: 320px) {
    .cardDeck {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .tarjetaNoticia{
        display: flex;
        justify-content: center;
        margin: 5px 0px;
        width: 100%;
        box-shadow: 5px 10px 5px rgb(117, 113, 113); ;
      }
  }

  @media (min-width: 768px) {
    .cardDeck {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    }
  }
  .altDestacado{
    height: 80vh;
  }
  .altDestacadoS{
    height: 40vh;
  }

  

@media( max-width: 991px){
    /* NAVBAR */
    .botones-navbar{
        width:max-content;
        margin-top: 12px;
        margin-bottom: 0px;
    }
    .li-navbar-responsive{
        visibility: hidden;
        position: absolute;
    }
}

@media(min-width:992px){
    /* NAVBAR */
    .align-navbar{
        justify-content: space-between;
    }
    .li-navbar-lg{
        visibility: hidden;
        position: absolute;
    }
    
}

@media(max-width:575px){
    .footer-row1{
        text-align: center;
    }
}

.text-hover:hover{
  color: black;
  background-color: rgb(185, 186, 186);
}

.aa{
  width: 1px; /* Line width */
  background-color: rgb(153, 153, 153); /* Line color */
}

.imgSuscripcion{
  width: 300px;
}